body {
  background: #232323;
}

main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-areas:
    "a a a a a a a a a"
    "b b b c c c g g g"
    "b b b c c c g g g"
    "d d d d d e e e e"
    "d d d d d e e e e"
    "f f f f f f f f f";
}

header {
  grid-area: a;
}

.preview1-container {
  grid-area: b;
}

.preview2-container {
  grid-area: c;
}

.output-container {
  grid-area: g;
}

.clips-container {
  grid-area: d;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.controller {
  grid-area: e;
}

footer {
  grid-area: f;
  color: white;
}
